/* Brad's CSS */

/* For login.html */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

body {
  background-color: #C9EAF2;
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Inputs */
input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #FFC1CF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/*.title {
  font-size: 80px;
  line-height: 0%;
  transition: line-height 0.2s, letter-spacing 0.2s, color 0.2s;
  letter-spacing: -0.35em;
  color: rgba(0, 0, 0, 0.0);
}

.title.explode {
  background-color: #3C4F76;
  line-height: 140%;
  letter-spacing: 0;
  color: #FfC1CF;
  width: 100%;
  text-align: center;
}
*/
.title {
  background-color: #3C4F76;
  font-size: 80px;
  color: #FFC1CF;
  width: 100%;
  text-align: center;
}
