table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border:none;
}

td, th, tr {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td img {
	width:100%;
	height:auto;
	display:block;
}

.album_art {
	width: 90%;
}
