table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border:none;
}

td, th, tr {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td img {
	width:100%;
	height:auto;
	display:block;
}

.album_art {
	width: 90%;
}

.add_button {
  background-color:green;
}

.add_button:hover {
  background-color:black;
}

.add_button:active, .add_button:focus, .add_button:visited {
  background-color:pink;
}
#myDiv{
  margin-top: 25%;
  margin-left: 55%;
  margin-bottom: -20%;
}
