body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C9EAF2;
}

.title {
  background-color: #3C4F76;
  font-size: 80px;
  color: #FfC1CF;
  width: 100%;
  text-align: center;
}

.topnav {
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding-top: 20px;
    overflow: hidden;
    background-color: #3C4F76;
}

.topnav a {
    color: #FFC1CF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: #FFC1CF;
}

.genreContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.container {
  position: relative;
  width: 400px;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity:0.5;
}

.container .btn:hover {
  background-color: #FFC1CF;
  opacity:1;
}
.container:hover {
  opacity: 0.5;
}
